.project{
    position: relative;
    width: 375px;
    height: 300px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}

.banner{
    position: absolute;
    width: 375px;
    height: 60px;
    background-color: #4aaaa5;
    text-align: center;
    color: white;
    margin: auto;
    bottom: 12px;
    font-size: 20px;
}

.b-text{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 18px;
}

.col{
    padding: 0px;
}